.bottomInfoContainer{
    width: 100%;
    min-width: 1000px;
    height: 250px;
    min-height: 250px;
    /*background-color: blue;*/
    border-left: 1px solid black;
    border-top: 1px solid black;
    box-sizing: border-box;
}